*.pyc
.idea
.eggs
.tox
*.swp
*.swo
*.o
*.pickle
*.zlib
*.gz
*.tar
*.doctree
*.bin
*.retry
*.egg-info
*.tgz
Error

build
dist
venv
venv2
py2venv
py3venv

*.log
*.log.1*
*.log.2*
*.log.3*
*.log.4*
*.log.5*
*.log.6*
*.log.7*
*.log.8*
*.log.9*

*.jpg
*.jpeg
*.tiff
*.gif
